absl-py==1.4.0
addict==2.4.0
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
async-generator==1.10
attrs==22.2.0
autolab-core==1.1.1
autolab-perception==1.0.0
Babel==2.11.0
backcall==0.2.0
bleach==4.1.0
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.5.30
cffi==1.15.1
charset-normalizer==2.0.12
colorlog==6.7.0
comm==0.1.4
ConfigArgParse==1.7
contextvars==2.4
cvxopt==1.2.7
cycler==0.11.0
Cython==3.0.5
decorator==4.4.2
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.4
entrypoints==0.4
ffmpeg-python==0.2.0
future==0.18.3
google-auth==2.22.0
google-auth-oauthlib==0.4.6
grasp-nms==1.0.2
grpcio==1.48.2
h5py==3.1.0
hydra-core==0.11.3
idna==3.4
imageio==2.15.0
immutables==0.19
importlib-metadata==4.8.3
importlib-resources==5.4.0
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.8.1
jedi==0.17.2
Jinja2==3.0.3
joblib==1.1.1
json5==0.9.14
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyter-packaging==0.10.6
jupyter-server==1.13.1
jupyterlab==3.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.1.7
kiwisolver==1.3.1
lmdb==1.4.1
Markdown==3.3.7
MarkupSafe==2.0.1
matplotlib==3.3.4
MinkowskiEngine==0.5.4
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.0
mkl-service==2.3.0
msgpack==1.0.5
msgpack-numpy==0.4.8
multiprocess==0.70.12.2
munch==4.0.0
nbclassic==0.3.5
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.8
networkx==2.5.1
notebook==6.4.10
numpy==1.19.5
oauthlib==3.2.2
omegaconf==1.4.1
open3d==0.15.2
opencv-python==4.8.1.78
packaging==21.3
pandas==1.1.5
pandocfilters==1.5.0
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pointnet2-ops==3.0.0
prometheus-client==0.17.1
prompt-toolkit==3.0.36
protobuf==3.19.6
ptyprocess==0.7.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.14.0
pyparsing==3.1.1
pyquaternion==0.9.9
pyrsistent==0.18.0
pyserial==3.5
python-dateutil==2.8.2
pytorch-lightning==0.7.1
pytz==2023.3.post1
PyWavefront==1.3.3
PyWavelets==1.1.1
PyYAML==6.0.1
pyzmq==25.1.1
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.9
ruamel.yaml==0.18.3
ruamel.yaml.clib==0.2.8
sapien==0.8.0.dev0
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
Send2Trash==1.8.2
setproctitle==1.2.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sklearn==0.0.post10
sniffio==1.2.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
terminado==0.12.1
testpath==0.6.0
threadpoolctl==3.1.0
tifffile==2020.9.3
tomlkit==0.11.6
torch==1.8.1+cu111
torchaudio==0.8.1
torchvision==0.9.1+cu111
tornado==6.1
tqdm==4.64.1
traitlets==4.3.3
transforms3d==0.3.1
trimesh==3.23.5
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1644850595256/work
urllib3==1.26.18
warmup-scheduler==0.3
wcwidth==0.2.9
webencodings==0.5.1
websocket-client==1.3.1
Werkzeug==2.0.3
widgetsnbextension==3.6.6
zipp==3.6.0
